body {
    height: 100vh;
}

.header {
    background-color: #E90000;
    color: #fff;
}

a,
button {
    all: unset
}

.logo {
    gap: 0.5rem;
    cursor: pointer;
}

.main {
    height: 100%;
    padding: 0 2.1rem;
    background-image: url('../assets/avaliacao-img.png');
    background-size: cover;
    background-position: right;
}

.main-img {
    display: none;
}

.register-card {
    padding: 1rem 1.25rem 1.5rem 1.25rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.80);
}

.register-card h1 {
    color: #000;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.label-float input {
    all: unset;
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 1.25rem;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
}

.register-card input::placeholder {
    color: transparent;
}

.label-float {
    position: relative;
}

.label-float label {
    pointer-events: none;
    position: absolute;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    color: #575555;
}

.label-float label {
    top: 2px;
    left: 0;
}

.label-float input:focus:required:invalid {
    border-bottom: 1px solid #E90000;
}

.label-float input:focus:required:valid {
    border-bottom: 1px solid #00e444;
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label,
.label-float textarea:focus+label,
.label-float textarea:not(:placeholder-shown)+label {
    font-size: 0.8125rem;
    margin-top: -1.1rem;
}

#textarea {
    background-color: #00000000;
}

.register-card button {
    font-weight: 700;
    border-radius: 0.625rem;
    background: #E90000;
    color: #FFF;
    text-align: center;
    padding: 0.44rem 0;
    cursor: pointer;
}

.footer {
    background-color: #E90000;
    color: #fff;
    padding: 0.625rem 0;
    font-size: 0.875rem;
}

footer div:first-child {
    border-right: 1px solid #fff;
}

.avaliacao {
    margin-top: -16px;
}

.star-icon {
    list-style-type: none;
    border: 1px solid #ffffff00;
    cursor: pointer;
    color: #ffe500;
    font-size: 40px;
    /* alterar o tamanho das estrelas */
}

.star-icon::before {
    content: "\2605";
}

.star-icon.ativo~.star-icon::before {
    content: "\2606";
}

.avaliacao:hover .star-icon::before {
    content: "\2605";
}

.star-icon:hover~.star-icon::before {
    content: "\2606";
}

.alerta {
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.show {
    display: block;
    animation: fadeInOut 3s ease-out;
}