@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    max-width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.header {
    background-color: #E90000;
    color: #fff;
    padding: 1rem;
    display: flex;
}

a,
button {
    all: unset
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2.1rem;
    background-image: url('../assets/cadastro-img.png');
    background-size: cover;
    background-position: center;
}

.main-img {
    display: none;
}

.register-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.25rem 1.5rem 1.25rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.80);
}

.register-card h1 {
    color: #000;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
}

.register-card form {
    display: flex;
    flex-direction: column;
}

.label-float input {
    all: unset;
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 1.25rem;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
}

.register-card input::placeholder {
    color: transparent;
}

.label-float {
    position: relative;
}

.label-float label {
    pointer-events: none;
    position: absolute;
    transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    color: #575555;
}

.label-float label {
    top: 2px;
    left: 0;
}

.label-float input:focus:required:invalid {
    border-bottom: 1px solid #E90000;
}

.label-float input:focus+label,
.label-float input:not(:placeholder-shown)+label {
    font-size: 0.8125rem;
    margin-top: -1.1rem;
}

.terms-label {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.3rem;
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.terms-label input[type="checkbox"] {
    cursor: pointer;
    width: 0.875rem;
    height: 0.875rem;
}

.terms-label .btn {
    all: unset;
    cursor: pointer;
    color: #E90000;
}

.terms-label .btn:hover {
    text-decoration: underline;
}

.register-card button {
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0.625rem;
    background: #E90000;
    color: #FFF;
    text-align: center;
    padding: 0.44rem 0;
    cursor: pointer;
}

.modal-footer .btn {
    border: none;
    background: #E90000;
    color: #FFF;
    transition: opacity 0.3s ease-in;
}

.modal-footer .btn:hover {
    opacity: 0.8;
}

.footer {
    display: flex;
    background-color: #E90000;
    color: #fff;
    padding: 0.625rem 0;
    font-size: 0.875rem;
}

.footer a {
    width: 100%;
    text-align: center;
    height: 3.125rem;
    cursor: pointer;
}

.already-client-button {
    display: flex;
    justify-content: center;
    align-items: center;
}