@media screen and (max-width: 309px) {
    .register-card h1 {
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .register-card h1 {
        font-size: 1.5rem;
    }

    .register-card button {
        font-size: 1.3rem;
    }

    .footer {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1040px) {
    .logo {
        transition: opacity 0.3s ease-in;
    }

    .logo:hover {
        opacity: 0.8;
    }

    .main {
        background-image: none;
        padding: 0;
    }

    .main-img {
        background-image: url('../assets/cadastro-img.png');
        background-size: cover;
        background-position: center;
        display: block;
        height: 100%;
        width: 50vw;
    }

    .register-card {
        background: none;
        width: 50vw;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0 4.375rem 0;
    }

    .register-card button,
    .footer button,
    .footer a {
        transition: opacity 0.3s ease-in;
    }

    .register-card button:hover,
    .footer button:hover,
    .footer a:hover {
        opacity: 0.8;
    }

    .footer {
        width: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

@media screen and (min-height: 730px) and (min-width: 768px) {
    .register-card h1 {
        font-size: 1.8rem;
    }

    .register-card input {
        font-size: 1.3rem;
    }

    .register-card button,
    .footer button,
    .footer a {
        font-size: 1.2rem;
    }

    .label-float label {
        font-size: 1.3rem;
    }

    .label-float input {
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
    }

    .terms-label input[type="checkbox"] {
        width: 1rem;
        height: 1rem;
    }

    .terms-label {
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 1.75rem;
    }
}

@media screen and (min-width: 1440px) {
    .register-card h1 {
        margin-bottom: 2.5rem;
    }

    .terms-label {
        margin: 1rem 0 2.2rem 0;
    }
}
body::-webkit-scrollbar {
    width: 0.5rem;
  }
  body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(173, 0, 0, 0.2);
  }
  body::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }