
  @import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    max-width: 100%;
}
.navbar{
  padding: 1rem;
}

.navbar-dark{
  background: #E90000; 
  color: #fff;
}

.navbar-logo{
  display: flex;
  gap: 0.5rem;
}

.links-wrapper{
  display: none;
}

.offcanvas-header{ 
  background-color: #E90000;
  color: #fff;
}
.offcanvas-body{
  gap: 0.5rem;
}
.offcanvas-body li{
  padding-bottom: 0.5rem;
}

.balance-container{
  background-color: #E90000;
  color: #fff;
}
.balance-info{
  border-bottom: 2px solid #fff;
  padding: 0 1rem;
}
.balance-notice{
  padding: 1rem;
  padding-bottom: 1.5rem;
}
.account-menu{
  display: flex;
  justify-content: space-around;
  padding: 1rem;

}
.account-option{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}
.option-icon{
  background-color: #BF0000;
  padding: 0.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.title-option{
  font-size: 0.625rem;
  font-weight: 700;
  padding-top: 0.5rem;
}
.statement-container{
  margin: 1rem;
  margin-top: 0;
}
h1{
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.transaction{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #D9D9D9;
}
.content-aside{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.transaction-icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.transaction-icon i{
  color: #fff;
}
.transaction-title{
  font-size: 0.975rem;
  font-weight: 700;
}
.transation-value{
}
.value-title{
  font-size: 0.9375rem;
  font-weight: 600;
}

/* GENERAL */
.title{
  font-size: 0.975rem;
  font-weight: 400;
}
.value{
  font-size: 1.5rem;
  font-weight: 700;
}
.notice{
  font-size: 0.725rem;
  margin: 0;
  padding: 0;
}
.red{
  color: #BF0000;
}
.green{
  color: #107100;
}