.content {
  display: grid;
}

@media screen and (max-width: 400px) {
  .navbar-toggler {
    display: block;
  }

  .links-wrapper {
    display: none;
  }
  .account-menu{
    justify-content: space-around;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 769px) and (min-width: 401px) {
  .navbar-toggler {
    display: block;
  }

  .links-wrapper {
    display: none;
  }
  .account-menu{
    justify-content: space-around;
    gap: 1rem;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 770px) {
  .navbar-toggler {
    display: block;
  }

  .links-wrapper {
    display: none;
  }
.account-menu{
  justify-content: space-around;
  gap: 2rem;
  padding: 1rem;
}
}

@media screen and (min-width: 1024px) {
  .navbar-toggler {
    display: none;
  }

  .links-wrapper {
    display: flex;
  }

  .account-menu{
    justify-content: flex-start;
    gap: 2rem;
  }
}

