body::-webkit-scrollbar {
  width: 0.5rem;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px rgba(173, 0, 0, 0.2);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}


.content {
  display: grid;
}

@media screen and (max-width: 300px) {
  .navbar-toggler {
    display: block;
  }

  .custom-nav .links-wrapper {
    display: none;
  }
}
.account-menu{
  overflow-x: auto;
}
@media screen and (max-width: 560px) {
  .navbar-toggler {
    display: block;
  }

  .custom-nav .links-wrapper {
    display: none;
  }
}

@media screen and (max-width: 1048px) {
  .navbar-toggler {
    display: block;
  }

  .custom-nav .links-wrapper {
    display: none;
  }
}
.account-menu{
  justify-content: flex-start;
  gap: 2rem;
}

@media screen and (min-width: 1049px) {
  .navbar-toggler {
    display: none;
  }

  .custom-nav .links-wrapper {
    display: flex;
  }

  .account-menu{
    justify-content: flex-start;
    gap: 2rem;
  }

  .content {
    /*grid-template-columns: 1fr 1fr;*/
  }
}

