@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    max-width: 100%;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100%;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav {
    display: flex;
    width: 100vw;
    max-width: 100%;
    background: #E90000;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav .logo {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.logo span strong {
    font-weight: 900;
}

.menu .hamburger {
    all: unset;
    cursor: pointer;
    transition: opacity 0.3s ease-in;
}

.menu .hamburger:hover {
    opacity: 0.8;
}

.menu .hamburger:focus {
    outline: #E90000;
}

.menu ul {
    display: none;
    list-style: none;
}

.big-hero {
    position: relative;
    background: url('../assets/main.png') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: inline-block;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding: 2rem;
    gap: 1rem;
}

.big-hero h1 {
    margin-bottom: 16px;
    z-index: 1;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 2.25rem;

}

.big-hero strong {
    font-weight: 900;
}

.big-hero p {
    margin-bottom: 8px;
    font-size: 1.25rem;
    z-index: 1;
    line-height: 2.25rem;
}

.btn-open-account {
    all: unset;
}

.big-hero .btn-open-account {
    z-index: 1;
}

.big-hero::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.choose-innov {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E90000;
}

.choose-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.choose-innov h2 {
    color: #fff;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.choose-container .card:nth-child(odd) {
    background-color: #E90000;
    color: #fff;
}

.choose-container .card {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    padding-top: 1rem;
    background-color: #fff;
    border: none;
    gap: 1rem;
}

.choose-container .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.choose-container .card h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.choose-container .card p {
    font-size: 1rem;
}

.know-innov {
    background-color: #E90000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.know-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
}

.know-container h2 {
    font-size: 2.25rem;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.know-container h2 strong {
    font-weight: 900;
}

.know-content p {
    font-size: 1.25rem;
    margin-top: -2rem;
}

.subscribe-innov {
    background: url('../assets/form-main.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.subscribe-container {
    width: 80vw;
    border-radius: 0.625rem;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.subscribe-container h2 {
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
}

.subscribe-container form {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.subscribe-container form input {
    all: unset;
    width: 100%;
    border-bottom: #000 2px solid;
    padding-bottom: 0.5rem;
}

.subscribe-container form input:focus {
    border-bottom: #E90000 2px solid;
}

.btn-continue {
    width: 100%;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 10vh;
    font-weight: 700;
}

img {
    max-width: 100%;
}

.button {
    border-radius: 10px;
    padding: 8px 16px;
    background-color: #E90000;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    animation: ease-in-out;
}

.button:hover {
    background-color: #b10202;
}
a{
    all: unset;
}


.offcanvas {
    background-color: #E90000;
}

.offcanvas-body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 2rem;
}

.offcanvas-body button,
.offcanvas-body a {
    all: unset;
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
}

.offcanvas-body a {
    border-radius: 0.625rem;
    background: #AD1919;
    padding: 1rem 2rem;
}